/**
* @desc 公共模块的样式
* @author zhouenjun
* @date 2020/02/14
*/
/* 开始：登陆页面 */
@login_bg: url("../img/login/bg.jpg") no-repeat fixed center; //登陆背景图

.login_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: @login_bg;
  background-size: cover;
  text-align: center;
  .login_box {
    position: relative;
    margin: 10% auto;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    background: rgba(190, 190, 190, 0.4);
    overflow: hidden;
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .content {
      display: flex;
      color: #fff;
      .left {
        margin-top: 12%;
        padding-top: 50px;
        width: 68%;
        height: 150px;
        border-right: 1px solid #ccc;
        border-color: rgba(255, 255, 255, 0.6);
        text-align: center;
        .title {
          font-size: 28px;
          font-family: Regular;
        }
        .edition {
          font-size: 12px;
          font-family: Regular;
          margin-left: 5px;
        }
        .english {
          font-size: 13px;
          font-family: Arista2;
        }
      }
      .right {
        margin-top: 50px;
        padding: 0 20px;
        flex: 1;
        .login_title {
          font-size: 20px;
          font-family: Regular;
          font-weight: normal;
        }
        .login_form {
          max-width: 300px;
          .icon_color {
            color: #fff;
          }
          .login_form_button {
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
/* 结束：登陆页面 */
/* 开始：layout页面 */
.layout_left {
  width: 100%;
  height: 100%;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .logo {
    height: 32px;
    margin: 16px;
    text-align: center;
    color: #fff;
  }
  .content {
    position: relative;
    margin: 20px 10px 10px 10px;
    padding: 12px 3px 12px 12px;
    background: #fff;
    height: calc(100% - 46px);
    overflow: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #ccc;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0;
    .right {
      margin-right: 20px;
    }
  }
}
.layout_top {
  width: 100%;
  height: 100%;
  .logo {
    margin: 0 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  .ant-layout-header {
    padding: 0 !important;
    position: relative;
    .right {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      color: #fff;
    }
  }
  .content {
    position: relative;
    margin: 20px 10px 10px 10px;
    padding: 12px 3px 12px 12px;
    background: #fff;
    height: calc(100% - 46px);
    overflow: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #ccc;
  }
}
/* 结束：layout页面 */
