/**
* @desc 统一基础样式
* @author dunfee
* @date 2019/10/08
*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { box-sizing: border-box; margin: 0; padding: 0; }
section, header, main, footer, aside { box-sizing: border-box; margin: 0; padding: 0; }
html, body, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { color: #333; }
html, body { height: 100%; }
body { font-size: 12px MicrosoftYaHei; font-weight: normal; font-stretch: normal; letter-spacing: 0; color: #333; overflow: hidden; }
/* 不可选中 */
body { user-select: text; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; -moz-user-select: text; }
/* 去掉ul和li的list-style */
ul, li { list-style: none; }
/* 修改浏览器自动填充样式 */
input:-webkit-autofill { box-shadow: 0 0 0px 1000px #fff inset !important; -webkit-text-fill-color: #333 !important; }
canvas, button { outline: none; }


/* 清除浮动 */
.clearfix::after { display: block; content: '.'; height: 0; clear: both; visibility: hidden; }
/* 粘性定位 */
.sticky { position: sticky; z-index: 1999; }
/* 绝对定位 */
.absolute { position: absolute; z-index: 1999; }
/* 内容溢出用省略号展示 */
.ellipis { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* 自定义滚动条样式 */
::-webkit-scrollbar { width: 9px; height: 9px; }
::-webkit-scrollbar-corner { background-color: #ddd; }
::-webkit-scrollbar-thumb { background-color: #b4bccc; }
::-webkit-scrollbar-track { background-color: #ddd; }
/* 自定义滚动条样式 */