/**
 * @description ant design 样式的修改
 * @author zhouenjun
 * @date 2020/02/14
 */

@layout_sider_bg: #001529; //layout左侧菜单栏背景色
@layout_header_bg: #fff; //layout头部背景色

.ant-layout-sider,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: @layout_sider_bg !important;
}

.layout {
  .header {
    background: @layout_header_bg !important;
  }
}


// 自适应字体大小
/* 屏幕大于1600px时 */
@media screen and (min-width: 1600px) {
  .ict_font_size{
    font-size: 26px;
  }
  .ict_color{
    color:blue;
  }
}

/* 屏幕大于1200px小与1599时 */
@media screen and (min-width: 1200px) and (max-width:1599px) {
  .ict_font_size{
    font-size: 20px;
  }
  .ict_color{
    color:green;
  }
}

/* 屏幕小于1199px时 */
@media screen and (max-width: 1199px) {
  .ict_font_size{
    font-size: 14px;
  }
  .ict_color{
    color:red;
  }
}

